<html>
<style>
  .title{
      color: #3db5ff;
      text-align: center;
      font-size: 50px;
      font-family: "Arial Rounded MT Bold";
  }
  .navigator{
      background-color: #92a6f3;
      padding: 2.5%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 200%;
      font-family: "Arial";
  }
  .navigator a{
      color: #e8e679;
      text-decoration: none;
      font-family: "Arial Rounded MT Bold";
  }



</style>
<title>S & S Bryllup 10.09.2022</title>
<header>
    <div class="title">
    VELKOMMEN TIL SIMON OG SOFIES BRYLLUP
    </div>
</header>
<div class="navigator">
    <a class="forside" href="index.html">Forside</a>
         <a href="oensker.html">Ønskeliste</a>
    <a href="su.html">SU</a>

</div>
<div class="top-billeder">
<img src="billedflotblot.jpeg" alt="billedflotblot.jpeg">
<img src="IMG_2933.jpeg" alt="IMG_2933.jpeg">
</div>
</html>