<html>
<style>
  .title{
      color: slateblue;
      text-align: center;
      font-size: 50px;
      font-family: "Arial Hebrew",serif;
  }


</style>
<title>S & S Bryllup 10.09.2022</title>
<header>
    <div class="title">
    Velkommen til Simon og Sofies bryllup!
    </div>
</header>
<div class="top-billeder">
<img src="https://bryllup.blob.core.windows.net/bryllupp/IMG_4241.jpeg">
<img src="https://bryllup.blob.core.windows.net/bryllupp/ADB627E3-7292-4391-A9F7-ADB1A5FFD2C7_1_105_c.jpeg">
</div>
</html>
